doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    title 这是一个 React + Redux 项目

  body
    #app
    script(src='http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js')
    script(src='http://localhost:9528/assets/admin.bundle.js')
    //- script(src='/assets/admin.bundle.js')
